$enabled: true;
$check: 1;
$cor-personalizada: red;
.component {
  width: 200px;
  height: 150px;
  @if $enabled {
    background-color: $cor-personalizada;
  } @else {
    background-color: yellow;
  }
}